<header>
	{% if page.url == "/" %}
	<nav class="navbar navbar-expand-lg swiper-nav">
	{% else %}
	<nav class="navbar navbar-expand-lg primary-nav">
	{% endif %}
		<div class="container custom-container">
			<a class="navbar-brand" href="/">Ruiz Pulvira</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					{% for navLinks in site.data.navigation %}
					{% if page.title contains navLinks.title %}
						<li class="nav-item active">
							<a href="{{ navLinks.url }}" class="nav-link">{{ navLinks.title }}</a>
						</li>
					{% else %}
					<li class="nav-item">
						<a href="{{ navLinks.url }}" class="nav-link">{{ navLinks.title }}</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
</header>