main.homepage {

  .section {
    &-intro {
      padding: 125px 0;

      .intro-info {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }

      .intro-info p {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 72%;
        font-size: 36px;
      }

      .intro-image {
        &__inner {
          height: 411px;
          width: 370px;
          background-image: url('../../assets/images/portrait.jpg');
          background-size: cover;
          background-position-x: 50%;
          margin: 0 auto;
        }
      }
    }

    &-projects {
      padding: 30px 0;
      
      .project-item {
        padding: 10px 25px;
        margin-bottom: 30px;
        
        &__inner {
          height: 300px;

          background-size: cover;
          background-position-y: 50%;
        }

        &__link {
          text-decoration: none;
          margin-bottom: 30px;


          p {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            font-weight: 700;
            opacity: 0;
            transition: all 0.4s ease;
          }

          &:hover p {
            opacity: 1;
          }
        }
      }
    }
  }
}