.swiper-container.main-slider {
	position: relative;

	.banner-word {
		position: absolute;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		z-index: 1112;
		color: white;
		font-size: 3.1rem;
		text-transform: uppercase;
		width: 100%;
		font-family: 'Poppins';
		text-align: center;
    letter-spacing: 10px;
	}

	&:before {
		content: "";
		height: 100%;
		width: 100%;
		z-index: 99;
		position: absolute; 

		background: rgba(5, 5, 5, 0.4);
	}

	.swiper-slide {
		min-height: calc(100vh - 10vh);
		height: 100%;
		max-height: 80vh;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			background-repeat: no-repeat;
		}
	}
}