.swiper-container.main-slider {
	position: relative;

	&:before {
		content: "";
		height: 100%;
		width: 100%;
		z-index: 99;
		position: absolute; 

		background: rgba(3, 3, 3, 0.4);

	}

	.swiper-slide {
		height: 75vh;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}
	}	
}