---
---

<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}

<body>
	{% include header.html %}	

	<main class="post">
		<div class="container custom-container">
			<div class="row">
				<div class="col-4 main-post-content">
					<h1 class="main-post-content__title">{{ page.title }}</h1>
					{{ content }}
				</div>
				<div class="col-8 main-post-image" style="background-image:url({{site.baseurl}}/assets/images/{{page.image}});">
				</div>
			</div>
		</div>
	</main>

	{% include footer.html %}
</body>
</html>